body{
	margin: 0;
	font-family: 'Roboto', sans-serif;
}
/*HEADER TEXTO*/
.container-header{
	border: 1px solid black;
	background-color: #343A40;
	color:#FFFFFF;
}

.star-bootstrap h3{/*modifica titulo starBoots*/
	margin-left: 8em;
	margin-top: 0.5em;
}


/*SECCION HEADER FOTO1*/
.img1{
	background-image: url(../img/header.jpg);
	width: 100%;
	height: 60em;
	z-index: -1;
}

/*modifica texto sobre la imagen1*/

.text-img{
	border: 3px solid black;
	color:#FFFFFF;
	font-size: 5em;
	font-weight: 300;

	margin-top: 5em;
	text-align: center;
}

/*seccion ABOUT ROCK foto mujer y texto*/
.img-woman{/*deja imagen en circulo*/
	border-radius: 360em;
    margin-left: 10em;
    margin-top: 3em;
}

h2{/*modifica tamaño titulo*/
	font-size: 3em;
	padding: 0.5em;
}
p{
	font-size: 1.2em;
	margin-left: 1em;
}

.container-text{
	margin-left: 15em;
    margin-top: 10em;
    border: 2px solid black;
    width: 37em;
    color: #737678;
}

/*SECTION WE SALUTE YOU!*/
.img3{
	border-radius: 360em;
	margin-left: 20em;
    margin-top: 5em;
}

.container-text2{
	border: 2px solid black;
    width: 37em;
    color: #737678;
    margin-top: 13em;
    margin-left: 10em;

}

/*SECTION LET THERE BE ROCK*/

.img4{
	border-radius: 360em;
	margin-left: 10em;
	margin-top: 8em;
}

.container-text3 {
	color: #737678;
	border: 2px solid black;
    width: 37em;
    color: #737678;
    margin-left: 18em;
    margin-top: 17em;
	
}
/*footer*/
footer{
	background-color: #343A40;
	color:#FFFFFF;
	text-align: center;
	padding: 3em;
	margin-top: 4em;
}