body{
	margin: 0;
	font-family: 'Roboto', sans-serif;
}
/*HEADER TEXTO*/
.container-header{
	background-color: #343A40;
	color:#FFFFFF;
}

.star-bootstrap h3{/*modifica titulo starBoots*/
	margin-left: 8em;
	margin-top: 0.5em;
}


/*SECCION HEADER FOTO1*/
.img1{
	background-image: url(../img/header.jpg);
	width: 100%;
	height:56em;
	z-index: -1;
}

/*modifica texto sobre la imagen1*/

.text-img{

	color:#FFFFFF;
	font-size: 5em;
	font-weight: 300;
	margin-top: 5em;
	text-align: center;
}

/*seccion ABOUT ROCK foto mujer y texto*/
.img-woman{/*deja imagen en circulo*/
	border-radius: 360em;
    margin-left: 20%;
    margin-top: 10%;
}

h2{/*modifica tamaño titulo*/
	font-size: 3em;
	padding: 0.5em;
}
p{
	font-size: 1.2em;
	margin-left: 1em;
}

.container-text{/*container text FOR THOSE ABOUT TO ROCK*/
	margin-left: 8%;
    margin-top: 10%;
    width: 37em;
    color: #737678;
}

/*SECTION WE SALUTE YOU!*/
.img3{/*IMG WE SALUTE*/
	border-radius: 360em;
	margin-left: 25%;
    margin-top: 10%;
}

.container-text2{/*CONTAINER WE SALUTE YOU*/
	
    width: 37em;
    color: #737678;
    margin-top: 10%;
    margin-left:5%;

}

/*SECTION LET THERE BE ROCK*/

.img4{
	border-radius: 360em;
	margin-left: 20%;
	margin-top: 10%;
}

.container-text3 {
	color: #737678;
    width: 37em;
    color: #737678;
    margin-left: 8%;
    margin-top: 10%;
	
}
/*footer*/
footer{
	background-color: #343A40;
	color:#FFFFFF;
	text-align: center;
	padding: 3em;
	margin-top: 4em;
}